@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;     
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 629px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.473);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.479);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: transform 0.3s, border 0.8s;
}

a.voltar-ao-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff56; /* Cor de fundo do bot達o */
    color: rgba(255, 255, 255, 0.507);
    padding: 12px 16px;
    border-radius: 50%; /* Torna o bot達o redondo */
    text-align: center;
    font-size: 16px;
    z-index: 999; /* Coloca o bot達o acima dos demais elementos */
    text-decoration: none;
}

a.voltar-ao-topo:hover {
    color: white;
    background-color: #0056b3; /* Cor de fundo do bot達o ao passar o mouse */
    transition: 0.5s;
}